.mail {
  font-size: 80px;

  font-weight: 900;
}

.text {
  color: #b1b1b1;
  font-size: 30px;
  padding-left: 50px;
}

.butto {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff !important;
  width: 100px;
  height: 100px !important;
  background-color: #000000 !important;
  border-style: none !important;
  border-radius: 50px !important;
}

.butto:hover {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff !important;
  width: 100px;
  height: 100px !important;
  background-color: #000000 !important;
  border-style: none !important;
  border-radius: 50px !important;
  padding-bottom: 15px;
}

.body {
  overflow: hidden;
}

.back {
  line-height: 300px !important;
  padding-top: 20px;
  padding-left: 20px;
}

.head {
  color: #141414;
  font-size: 300px;
  font-weight: 900;
  width: 100%;
}

.in {
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 100px;
}

@media only screen and (max-width: 768px) {
  .body {
    overflow: hidden;
  }
  .head {
    margin-top: 60px;
    color: #141414;
    font-size: 70px;
    font-weight: 900;
    width: 100%;
  }
  .back {
    line-height: 70px !important;
    padding-top: 20px;
    padding-left: 20px;
  }
  .in {
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 100px;
  }
  .mail {
    font-size: 17px;
    font-weight: 900;
  }

  .text {
    color: #b1b1b1;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .butto {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff !important;
    width: 100px;
    height: 100px !important;
    background-color: #000000 !important;
    border-style: none !important;
    border-radius: 50px !important;
  }
}
