.loadingspinnercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 400px;
  font-weight: 900;
  color: #eaeaea;
}

/* page.module.css */

.dot {
  animation: blink 1s infinite;
  color: #20323b;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .loadingspinnercontainer {
    font-weight: 900;
    font-size: 100px;
    color: #eaeaea;
    height: 100vh;
  }

  .dot {
    animation: blink 1s infinite;
    color: #20323b;
  }
}
