.hero {
  background-color: #000000;
  line-height: 150px;
  padding-top: 250px !important;
  padding-bottom: 50px !important;
}

.design {
  font-size: 200px;
  font-weight: 900;
  color: #d3d3d3 !important;
}

.button {
  margin-top: 20px;
  width: 500px;
  height: 50px;
  border-radius: 50px !important;
}

.heroTwo {
  background-color: rgb(0, 0, 0);
  padding-top: 150px !important;
  padding-bottom: 250px !important;
}

.heroThree {
  background-color: rgb(255, 255, 255);
  padding-top: 50px !important;
  padding-bottom: 150px !important;
}

.para {
  font-size: 30px;
  line-height: 60px;
  color: #d3d3d3 !important;
  width: 1500px;
}

.known {
  padding-top: 250px !important;
  padding-bottom: 300px !important;
}

.knownTwo {
  background-color: black;
  padding-top: 250px !important;
  padding-bottom: 300px !important;
}

.knownThree {
  background-color: black;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.buttonOne {
  color: #b3b3b3 !important;
  border-radius: 0px !important;
  letter-spacing: 2px;
  height: 50px;
  padding-right: 0;
  padding-left: 0;
  transition: padding-right 0.5s, padding-left 0.5s;
}

.buttonOne:hover {
  background-color: black;
  padding-right: 200px !important;
  padding-left: 200px !important;
}

.buttonTwo {
  color: #383838 !important;
  border-color: #dadada !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
  letter-spacing: 2px;
  height: 50px;
  padding-right: 0;
  padding-left: 0;
  transition: padding-right 0.5s, padding-left 0.5s;
}

.buttonTwo:hover {
  padding-right: 200px !important;
  padding-left: 200px !important;
}

.head {
  font-size: 100px;
  color: #d3d3d3 !important;
  font-weight: 900;
}

.mail {
  font-size: 80px;
  color: #d3d3d3 !important;
  font-weight: 900;
}

.text {
  color: #525252;
  font-size: 30px;
  width: 1300px;
}

.icon {
  width: 50px;
}

.icon:hover {
  scale: 1.1;
}

.loading {
  width: 500px;
  height: 50px;
  border-radius: 0px !important;
}

.loading::after {
  width: 500px;
  height: 50px;
  border-radius: 0px !important;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid transparent;
}

.back {
  background-color: #000000 !important;
  line-height: 300px !important;
  padding-top: 20px;
  padding-bottom: 150px;
}

.scroll {
  color: #ffffff;
  font-size: 300px;
  font-weight: 900;
  width: 100%;
}

/* @keyframes scrollAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.imagepop {
  background-image: url("https://Mohanraj-Me.github.io/design/public/other/designold.png");
  background-repeat: no-repeat; /* Ensure background image doesn't repeat */
  background-size: cover; /* Specify the URL of the image directly */
  width: 700px;
  height: 282px;
}

.intotext {
  color: #000000;
  font-size: 20px;
  /* width: 900px; */
}

.butto {
  color: #ffffff !important;
  width: 450px;
  height: 50px !important;
  background-color: #000000 !important;
  border-style: none !important;
  border-radius: 50px !important;
}

.body {
  overflow: hidden;
}
.twoCon {
  display: flex;
}

.showcase {
  background-color: #000000;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.showcasein {
  height: 900px;
  background-color: #141414;
  margin: 50px;
  border-radius: 50px;
}

.dev {
  font-size: 150px;
  font-weight: 900;
  color: #9c9c9c;
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  transition: letter-spacing 1s ease;
}

.dev:hover {
  color: #dddddd;
  letter-spacing: 20px;
}

.showcaseout {
  width: 50%;
  height: 900px;
  font-size: 100px;
  color: #d3d3d3;
  background-color: #ffffff;
  margin: 50px;
  border-radius: 50px;
}

.showcaseoutin {
  width: 50%;
  height: 900px;
  font-size: 100px;
  color: #d3d3d3;
  background-color: #ececec00;
  margin: 50px;
  border-radius: 50px;
  border-width: 20px;
  border-style: solid;
  border-color: #ffffff;
}

.showcasee {
  font-size: 200px;
  font-weight: 900;
  color: rgb(15, 15, 15);
  background-color: #1a1a1a;
}

.showcaseee {
  font-size: 200px;
  font-weight: 900;
  color: rgb(15, 15, 15);
  background-color: #e4e4e4;
}

.in {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 100px !important;
    padding-bottom: 0px !important;
    line-height: 50px !important;
  }

  .design {
    font-size: 50px;
  }

  .button {
    width: auto;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-radius: 50px !important;
  }

  .heroTwo {
    background-color: rgb(0, 0, 0);
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .para {
    text-align: start;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #d3d3d3 !important;
    width: auto;
  }
  .showcaseee {
    /* text-align: center; */
    align-items: center;
    line-height: 90px !important;
    font-size: 90px;
    height: 600px;
    font-weight: 900;
    color: rgb(15, 15, 15);
    background-color: #e4e4e4;
  }
  .showcasein {
    height: 400px;
    background-color: #141414;
    margin: 30px;
    border-radius: 50px;
  }
  .showcaseout {
    height: 400px;
    background-color: #b8b8b8;
    margin: 30px;
    border-radius: 50px;
    width: auto;
  }
  .showcaseoutin {
    height: 400px;
    margin: 30px;
    margin-top: 60px;
    width: auto;
    color: #d3d3d3;
    background-color: #ffffff;
    border-radius: 50px;
    border-style: none;
    border-color: #ffffff00;
  }

  .dev {
    font-size: 40px;
    font-weight: 900;
    color: #9c9c9c;
    background-color: #00000000 !important;
    border-color: #00000000 !important;
    transition: letter-spacing 1s ease;
  }
  .dev:hover {
    color: #dddddd;
    letter-spacing: 10px;
  }
  .twoCon {
    display: block;
  }
  .showcase {
    background-color: #000000;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .back {
    background-color: #000000 !important;
    line-height: 100px !important;
    padding-top: 150px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .scroll {
    color: #ffffff;
    font-size: 70px;
    font-weight: 900;
    width: 100%;
    line-height: 60px;
  }

  .in {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intotext {
    color: #000000;
    font-size: 15px;
    /* width: 900px; */
    text-align: center;
  }

  .butto {
    color: #ffffff !important;
    width: auto;
    height: 50px !important;
    background-color: #000000 !important;
    border-style: none !important;
    border-radius: 50px !important;
  }
}

@media (max-width: 1024px) {
}
