/* page.module.css */

.header {
  position: sticky !important;
  top: 0;
  font-size: 25px;
  font-weight: 900;
  height: 60px;
  width: 100%;
  background-color: #ffffffaa;
  z-index: 5 !important;
  backdrop-filter: blur(10px);
}

.home {
  color: #20323b !important;
  cursor: pointer;
}

.contactme {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff !important;
  cursor: pointer;
  background-color: #20323b !important;
  border-radius: 50px !important;
  border-style: none;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .header {
    height: 60px;
    justify-content: space-between;
  }

  .button {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contactme {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    font-size: 30px;
  }
}
